<div class="body-content">
  <h2>Decorators</h2>  
  <hr>   
  <p>A <strong>Decorator</strong> is a special kind of declaration that can be attached to a class declaration, method, accessor, property, or parameter. Decorators use the form @expression, where expression must evaluate to a function that will be called at runtime with information about the decorated declaration.</p>
  <div *ngFor="let codeSample of codeSamples">
    <div class="code-place">
      <pre>{{codeSample}}</pre>
    </div>
    <br>
  </div>
</div>