<p>
  <img src="./assets/images/img/home-page.jpg">
</p>
<hr>
<p class="intro">This site is intended to demonstrate several code samples of usage TypeScript's
  basic language concepts that, in my opinion, are the best to revial all techniks and 
  tricky moments that you can encounter with during writing code on TypeScript. 
  Thus, by the way, you won't find here detailed explanations about concepts and 
  ideas. Instead of it I have put here some very short descriptions and comments inside of code samples 
  regarding to what is presented here.</p>
<p class="intro">For mor information go to https://www.typescriptlang.org</p>