<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a routerLink="" style="text-decoration: none">
      <h1 class="app-name">TypeScript</h1>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 class="sidenav">
      <mat-nav-list>        
        <a mat-list-item routerLink="basictypes">Basic types</a>
        <a mat-list-item routerLink="variables">Variable Declarations</a>
        <a mat-list-item routerLink="interfaces">Interfaces</a>
        <a mat-list-item routerLink="classes">Classes</a>
        <a mat-list-item routerLink="functions">Functions</a>
        <a mat-list-item routerLink="generics">Generics</a>
        <a mat-list-item routerLink="enums">Enums</a>
        <a mat-list-item routerLink="manipulations">Manipulations with Types</a>
        <a mat-list-item routerLink="symbols">Symbols</a>
        <a mat-list-item routerLink="iterators">Iterators and Generators</a>
        <a mat-list-item routerLink="modules">Namespaces and Modules</a>
        <a mat-list-item routerLink="decorators">Decorators</a>        
      </mat-nav-list>
    </mat-sidenav>
    
    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-container>
    
  <div class="footer-container">
    <h6 class="footer-content">Made by IvanM (c)</h6>
  </div>
</div>