.menu-items {
  font-family: 'Snowburst One';
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
  color: white;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18pt;
}

.sidenav-container {
  flex: 1;  
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav {
  box-shadow: 3px 3px 3px lightgray;
}

.ts-logo {
  width: 180px;
  height: auto;
}

.outlet-container {
  max-width: 800px;
  margin: auto;
}
