<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a routerLink="" style="text-decoration: none">
      <h1 class="app-name"><strong>Type</strong>Script</h1>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      class="sidenav">
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="menu-items">
                <i class="zmdi zmdi-book"> Concepts</i>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/basictypes" class="menu-items">Basic Types</a>
              <a mat-list-item routerLink="/variables" class="menu-items">Variables Declaration</a>
              <a mat-list-item routerLink="/interfaces" class="menu-items">Interfaces</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title class="menu-items">
                <i class="zmdi zmdi-shape"> Samples</i>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="menu-items">OOP</a>
              <a mat-list-item class="menu-items">Sorting</a>
              <a mat-list-item class="menu-items">Math</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>

    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</div>