<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a routerLink="" style="text-decoration: none">
      <h1 class="app-name"><strong>Type</strong>Script</h1>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 class="sidenav">
      <mat-nav-list>
        <p-panelMenu [model]="items" [style]="{}"></p-panelMenu>
      </mat-nav-list>
    </mat-sidenav>

    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</div>
