@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.code-place {
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    padding: 3px;
}

.toolbar {
  background-color: #4F6B90;
}
