@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.code-place {    
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    padding: 3px;
}

.footer-container {
  background-color: #294E80;
  z-index: 1000;
  color: white;  
}

.footer-content {
  text-align: right;
  margin-right: 50px;
}